@web:registry=https://git.innovasive.co.th/api/v4/packages/npm/
//git.innovasive.co.th/api/v4/packages/npm/:_authToken=glpat-xDQ4aciz4jzwVEqcBJxs
//git.innovasive.co.th/api/v4/projects/:_authToken=glpat-xDQ4aciz4jzwVEqcBJxs